:root {
    --rotateN: 225deg;    
    --wavDir: 0deg;
    --wavD_N: calc(var(--rotateN) + var(--wavDir));
    --windDir: 0deg;
    --windD_N: calc(var(--rotateN) + var(--windDir));
    --banthamImg: url(images/buislandSVG.svg);
    --gwenverImg: url(images/GwenverSVG.svg);
    --BeachImage: url(images/wavephoto.svg);
} 

body {    
    height: 100vh;
    width:100vw;
    margin: 0%;
    padding:0%;
    
}
.container {
    border-radius: 7%;
    max-width:100vw;
    max-height: 100vh;
    overflow: clip;
    z-index: 0;
}

.nav_window {
    position: absolute;
    width:100%;
    height:100%;
    display: none;
    flex-direction: column;
    background-color: blanchedalmond;
    opacity: 0.87;  
    z-index: +1; 
    padding-top: 1rem;  
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem; 

}

#menu_list {
    width:100%;
}

#menu_list p {
    position: relative;
    text-align: center;
    width:100%;
    border-radius: 5%;
    
}

#menu_list p:hover {
    background-color: coral; 
    width: 100%;   
    transition: 0.07s;
    font-size: 1.75rem;
    
    

}

.active {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    
}

.selected {
    color: aquamarine;
}

#menu_list {
    position: relative;
    margin-top: 3vh;
   
}

#newBeachForm {
    position: absolute;
    bottom: 10%;
    
}

#newBeachLabel {
    font-size: 1.25rem;
}


section {    
    width: 100vw;
    height:100vh;
    padding: 5%;
    background-image: var(--BeachImage);
    background-size: cover;
    background-position: 30% 20%;
    
    
}

.topBar {
    position: relative;
    left:-5%;
    width:100vw;
    height:10vh;
    padding-top:1rem;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.info {
    position: relative;
    display: flex;
    flex-direction: column;
}

#beach {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.time {
    position: relative;
    font-size: 1.25rem;
}

.compass {
    position: relative;    
    width: 12vw;
    height: auto;
    right:5rem;  
    top:-5%;  
}

.compass svg {
    width: 50vw;
    height: 50vw;
    transform: rotate(var(--rotateN));
}

.wavDirection {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:5vh;
    left:5vw;
    width:50vw;
    height:40vw;
    


}

.wav__Degrees {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}



.wavDirection svg {
    position: relative;
    width:30vw;
    height:30vw;
    transform: rotate(var(--wavD_N));
}

.wind {
    display: flex;
    flex-direction: row;
    align-items: center; 
     
}

.windVelocity {
    position: relative;
    left:20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.windDirection {
    position: relative;
    left:40vw;
    top: 7vh;
    width: 50vw;
    height: 50vw;
    transform: rotate(-47deg);

}

.windDirection img {
    width: 50vw;
    height: 50vw;
    transform: rotate(var(--windD_N));
}

.swell {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;    
    top:10%;
    left:0vw;
}

.period {
    position: relative;
    top: 10%;
    /* display: flex;
    flex-direction: column; */
}

.period img {
    position: relative;
    left:-7.25%;
    width:105%;
    height:auto;
}

